.dress{
color: rgba(198, 13, 235, 0.945);
background-color: cornflowerblue;
}

.imgg{ height: 400px;
    width: 400px;

}

.namee{ color:rgba(198, 13, 235, 0.945);
    background-color:cornflowerblue ;
}